html {
  font-size: 16px;
  background-color: rgb(245, 245, 245);
  font-family: Helvetica, sans-serif;
}

body {
  width: 850px;
  margin: 0 auto;
}

/* Header Section */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0 15px 0;
  margin-bottom: 20px;
}

header h1 {
  font-size: 26px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  color: rgb(27, 27, 27);
}

header li {
  display: inline-block;
  padding-left: 10px;
  font-weight: 700;
  font-family: "Noto Sans JP", sans-serif;
}

a {
  text-decoration: none;
  color: rgb(27, 27, 27);
}

/* About me section */

.about {
  display: flex;
  justify-content: space-around;
}

.img-container {
  height: 400px;
  width: 500px;
  overflow: hidden;
}

.about img {
  height: 400px;
  width: auto;
}

.about h2 {
  font-size: 20px;
  color: rgb(27, 27, 27);
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  padding-bottom: 15px;
}

.about p {
  padding-right: 15px;
  margin-top: 10px;
  line-height: 1.3;
  color: rgb(68, 68, 68);
  width: 80%;
}

/* Projects section */

.projects {
  margin-bottom: 5em;
}

.projects h2 {
  font-size: 20px;
  color: rgb(27, 27, 27);
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  padding-bottom: 20px;
}

.projects li {
  font-weight: 700;
  font-family: "Noto Sans JP", sans-serif;
  padding-bottom: 10px;
  font-size: 20px;
}
