html {
  font-size: 16px;
  background-color: rgb(245, 245, 245);
  font-family: Helvetica, sans-serif;
}

body {
  width: 850px;
  margin: 0 auto;
}

/* Header Section */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0 15px 0;
  margin-bottom: 20px;
}

header h1 {
  font-size: 26px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  color: rgb(27, 27, 27);
}

header li {
  display: inline-block;
  padding-left: 10px;
  font-weight: 700;
  font-family: "Noto Sans JP", sans-serif;
}

a {
  text-decoration: none;
  color: rgb(27, 27, 27);
}
